@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes orbit-drift {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}

.animate-orbit-drift {
    animation: orbit-drift 70s linear infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .animate-orbit-drift {
        animation: none !important;
    }
}

/* Custom styled scrollbars */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #0B0F19;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1E2640;
    border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #00ddff;
}