@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes orbit-drift {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}

.animate-orbit-drift {
    animation: orbit-drift 70s linear infinite;
}